<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Plane</title>
</head>
<body>
	<h1>Create a New Plane</h1>
<!-- 
	<form action="/planes" method="POST">
		<input type="text" name="plane[name]" placeholder="Name">
		<input type="text" name="plane[kind]" placeholder="Kind">

		<br><br>

		<textarea type="text" name="plane[description]" placeholder="Description">
		</textarea>

		<br><br>

		<button type="submit">Save</button>
	</form>
 -->
 
	<%= form_for :planes do |f| %>
	  <p>
	    <%= f.label :name %><br>
	    <%= f.text_field :name %>
	  </p>

	  <p>
	    <%= f.label :kind %><br>
	    <%= f.text_field :kind %>
	  </p>

	  <p>
	    <%= f.label :description %><br>
	    <%= f.text_field :description %>
	  </p>

	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>	
</body>
</html>